@import "tailwindcss";


.card {
@apply bg-white border border-gray-200 rounded-2xl shadow-md hover:shadow-lg transition duration-300;
}

html {
  scroll-behavior: smooth;
}

.btn-primary {
@apply bg-violet-600 text-white px-4 py-2 rounded-md hover:bg-violet-700 transition duration-300;
}


.btn-outline {
 @apply border border-violet-500 text-violet-700 px-4 py-2 rounded-md hover:bg-violet-50 transition duration-300;
}


.section {
 @apply py-12 px-4 md:px-8 lg:px-16;
}


.title {
 @apply text-2xl md:text-3xl font-semibold text-violet-700 mb-6;
}


.text-muted {
  @apply text-gray-600 leading-relaxed;
}